main {
  display: grid;
  width: 90vw;
  height: auto;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(320px, 1fr));
  margin-top: 80px;
  margin-bottom: 10px;
}